version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.back
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - HOPSWORKS_API_KEY=${HOPSWORKS_API_KEY}
      - HOPSWORKS_PROJECT=GrasaCorporal
      - HOPSWORKS_HOST=https://c.app.hopsworks.ai

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.front
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - STREAMLIT_SERVER_PORT=8501

