fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.8.2

numpy==1.26.4
pandas==2.1.4
scikit-learn==1.6.1
joblib==1.3.2

python-dotenv==1.0.1
requests==2.31.0

pyarrow>=14,<16

# Firestore (solo esta línea, sin dependencias manuales)

google-cloud-firestore==2.16.1
google-api-core==2.17.1
google-cloud-core==2.3.2
google-auth==2.29.0
google-cloud-logging

hopsworks>=4.2.4





